body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bolder;

}
h1{
    text-align: center;

}

ul {
    list-style: none;
}

.header {
    padding: 0px 2.8rem;
    height: 4rem;
    background-color: rgb(249, 249, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item {
    display: flex;
    gap: 2.8rem
}

.container {
    display: none;

}

.list-item-btn {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


.active .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.active .bar2 {
    opacity: 0;
}

.active .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.active .list-item-btn {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    background-color: rgb(249, 249, 255);
    font-weight: bold;
    margin-top: 4rem;
    width: 100vw;
    height: fit-content;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    align-items: center;



}
/* @media screen and (max-width:640px){
    .input-div input {
        width: 20rem;
    }
    .input-div-mobile{
        display: grid;
        gap: 3px;
        place-content: center;
        height: auto;
        width: 90%;
        margin-top: 5px;
        background-color: red;
    }
    .input-div-mobile input{
        width: 20rem;

    }
    
} */

@media screen and (max-width:768px) {
    .container {
        display: inline-block;
        cursor: pointer;

    }

    .nav {
        display: none;
    }

    a {
        text-decoration: none;
        font-weight: bold;
    }

    .card-div {
        display: none;

    }

    .card-div-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;

    }


}

@media screen and (max-width:1024px) {
    .card-div {
        display: none;
    }

    .card-div-mobile {
        display: none;
    }

    .card-div-small-screen {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        place-items: center;

    }

}
@media screen and (max-width:1536px) {
    .card-div {
        display: none;
    }

    .card-div-mobile {
        display: none;
    }

    .card-div-small-screen {
        display: none;

    }
    .extra-large{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        place-items: center;
    }

}

/* abut section */

/* .about-section{
    background-color: aqua;
} */
.about-section h1,
p {
    text-align: center;

}

.about-section img {
    max-width: 100%;
    height: auto;
}

.about-image {
    height: auto;
    width: max-content;
}

.icon-div {
    display: flex;
    gap: 1rem;
    place-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-div img {
    height: 40px;
    width: 40px;
    border-radius: 2rem;

}


/* myprojects section */
.myProjects {
    background-color: rgb(249, 249, 255);
    padding-top: 5px;
    padding-bottom: 5px;
}

.myProjects h1 {
    text-align: center;

}

.card-div {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    gap: 4px;
    place-items: center;
    place-content: center;
}

.card {
    background-color: aliceblue;
    height: 350px;
    width: 300px;
    place-content: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 5px;
    border: 10px solid rgb(93, 93, 97);
    border-radius: 10px;
}

.card-contnet h3,
p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;

}

.btn-div {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 20px;


}

.btn-div a button {
    cursor: pointer;
    background-color: purple;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 90px;
    font-size: medium;
    border-radius: 10px;

}

/* my skill section */

.skillSection{
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skillsContainer {
    width: 90%;
    background-color: #ddd;
    border-radius: 20px;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .html {width: 90%; background-color: #04AA6D; border-radius: 20px;}
  .css {width: 80%; background-color: #2196F3;border-radius: 20px;}
  .js {width: 65%; background-color: #f44336;border-radius: 20px;}
  .php {width: 70%; background-color: #808080;border-radius: 20px;}


  /* contact form */

  .contacts{
    background-color:  #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
 
  }
  .contacts h1{
   padding: 20px;


  }
  .contactForm{
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .form-data{
    display: grid;
    place-items: center;
  }
  .input-div{
    display: grid;
    gap: 3px;
    place-content: center;
    height: auto;
    width: 90%;
    margin-top: 5px;
  }

  .input-div input {
    width: 25rem;
    border-radius: 5px;
    height: 25px;
  }
  .input-div textarea{
    width: 25rem;
    border-radius: 5px;
    height: 25px;
  }
  .submit-btn{
    height: 30px;
    width: auto;
    border-radius: 10%;
    background-color: skyblue;
    cursor: pointer;
    font-weight: bold;
    margin: 15px;
  }